


/* header */

  header {
    background-color: #4d0101;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    margin: 0%;
    display: inline-flex;
    justify-content: left;
    padding: 1.2rem 3rem;
}

.nav-list ul {
    
    padding: 0;
    list-style-type: none;
}

.nav-list ul li {
    display: inline;
    position: relative;
}

.nav-list ul li a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    display: inline-block;
}

.nav-list a {
    
    padding-bottom: 70px;
}

.nav-list ul li a:hover {
    color: #8b6161;
}

/*sub menu*/
.nav-bar ul ul{
    font-style: inherit;
    width: 230px;
    background-color: #4d0101;
    display: none;
    position: absolute;

}

.nav-list ul li:hover ul {
    display: block;
}

.nav-list ul ul li a {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/* body */

* {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Pacifico', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  body {
   background-color: #fff;
  }
  
  h1, h2 {
    font-family: 'Pacifico', sans-serif;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    padding: 5px;
    margin: 15px;
  }

  p {
    padding: 15px 20px;
    font-size: 17px;
  }

.paragrafo {
    font-size: 18px;
}

#link {
    color: #2c0202;
}

#link a:hover {
    color: #8b6161;
}

  .tabela {
    padding: 10px 20px;
  }

  .lista {
    
    padding: 5px 35px;
  }
  
  .flash-animation {
    animation: flash 10s infinite;
  }
  
  .flex {
  
    width: 100%;
  }
  
  @keyframes flash {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
